.h2 {
    color: antiquewhite;
    background-color: black;
    border-radius: 15px;
    width: max-content;
    font-size: medium;
}
.h2-contacto {
    color: black;
    font-size: medium;
    line-height: 35px;
}
