.animaciones-respuestas-faq {
    animation-name: respuestas;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-iteration-count: 10s;  
   }

   @keyframes respuestas {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
 }

 

 .formulario-faq {
    width: 30%;
    height: max-content;
    padding: 20px;
    margin: 25px;
    margin-left: 33%;
    border-radius: 15%;
    background-color: yellow;
    justify-content: center;
    box-sizing: content-box;

   
}

input:focus {
    background-color: black;
    color: antiquewhite;
}


.contacto-botones {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;


}


.contacto-opcion {
text-transform: uppercase;
}

.contacto-rectangulo{
padding: 5px;
margin: 10px;
width: 250px;
border-radius: 10px;


}
.h3-faq {
font-family: 'Finlandica', sans-serif;
font-size: 25px;
color: black;
padding: 5px;
margin: 30px;
line-height: 1,5;
list-style: none;
width: 70%;
height: 15px;

}
.respuestas-faq {
margin: 50px;
padding: 20px;
background-color: black;
color: aliceblue;
font-size: larger;
height: 25px;
width: 70%;
border-radius: 10px;;

}
