.footer {
    text-align: center;
    margin-top: 80px;
    bottom: 0;
    font-size: 12px;
    background-color: black;
    height: 100px;
    width: 100%;
    border-radius: 8px; 
} 

.propiedades-texto__footer {
 position: static;
    bottom: 0;
  font-weight: bold;
  font-size: larger;
  color: antiquewhite;
}

.propiedades-logo__footer {
    align-items: center;
    border-radius: 15%;
    margin-top: 1%;
}
