
.propiedades-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: medium;
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;
}
.header {
    background-color:black;
    opacity: 100%;
    width: 100%;
    z-index: 1000;

    font-family: 'Finlandica', sans-serif;
    color: aliceblue;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.header_icono {
    font-size: 32px;
    color: orange;
    text-decoration: none;
    margin-right: 10px;
    display: none;
    
}

.estilogo-header {
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 15%;
    }

    

.nav {
    display: flex;
    }
    
    .item-oculto {
    display: none;
    }

    .color-texto2 {
        color: black;
        font-style: italic;
        font-size: 18px;
        font-family: 'Finlandica', sans-serif;
    }
    
    
    .menu-nave {
<<<<<<< HEAD
        display: flex;
        flex-direction: row;
        align-items: center;
=======
        color: whitesmoke;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
>>>>>>> 6ad904860c7eebdfd93e01fef528e181ac3d2919
    
    }